body{
    margin: 0;
}
header{
    height: 120px;
    background-color: blue;
}
#header-container{
    width: 90%;
    margin: auto;
}
#col-1{
    width: 33%;
    float: left;
}
.restraunt-name{
    margin-top: 30px;
    font-size: 4em;
    color: #ffffff;
}
#picture{
    height: 100px;
    padding-top: 10px;
}
.menu-items{
    background-color: #6dc77a;
    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 30px;
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
    float: right;
}
#total-table{
    margin: auto;
    padding-bottom: 100px;
    padding-right: 100px;
}
#heading{
    padding-top: 100px;
    text-align: left;
    padding-bottom: 80px;
    padding-right: 350px;
    font-size: 4em;
    font-family: sans-serif;
    font-weight: 300;
}
#row1{
    font-weight: bold;
    
}
#name-1{
    padding-right: 350px;
    padding-bottom: 30px;
}
#price-1{
    padding-right: 80px;
    padding-bottom: 30px;
}
#active-1{
    padding-right: 80px;
    padding-bottom: 30px;
}
#dateoflaunch-1{
    padding-right: 80px;
    padding-bottom: 30px;
}
#category-1{
    padding-right: 80px;
    padding-bottom: 30px;
}
#freedelivery-1{
    padding-right: 80px;
    padding-bottom: 30px;
}
.copyright{
    background-color: grey;
    color: black;
    height: 100px;
}
.copyrightlogo{
    padding-top: 30px;
    padding-left: 50px;
}