body{
    margin: 0;
}
header{
    height: 120px;
    background-color: blue;
}
#header-container{
    width: 90%;
    margin: auto;
}
#col-1{
    width: 33%;
    float: left;
}
.restraunt-name{
    margin-top: 30px;
    font-size: 4em;
    color: #ffffff;
}
#picture{
    height: 100px;
    padding-top: 10px;
}
.menu-items{
    background-color: #6dc77a;
    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 30px;
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
    float: right;
}
#total-form{
    width: 95%;
    margin: auto;
    padding-bottom: 120px;
}
p{
    padding-top: 100px;
    text-align: left;
    padding-bottom: 80px;
    padding-right: 350px;
    font-size: 4em;
}
#name{
    padding-bottom: 0px;
    margin-bottom: 20px;
    padding-right: 90px;
}
#allone{
    width=23%;
    float: left;
}
.copyright{
    background-color: grey;
    color: black;
    height: 100px;
}
.copyrightlogo{
    padding-top: 30px;
    padding-left: 50px;
}
#price{
    padding-right: 80px; 
}
#active{
    padding-right: 80px; 
    padding-left: 280px;
}
#dateoflaunch{
    padding-right: 80px;
    padding-left: 280px
}
#freedelivery{
    margin-left: 50px;
    padding-bottom: 40px;
}
#cat{
    padding-right: 80px; 
    padding-left: 80px;
}
#freedelivery{

}
#button{
    margin-left: 50px;
    margin-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: blue;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em
    
}
#name2{
    font-weight: bold;
}
#price2{
    font-weight: bold;
}
#active{
    font-weight: bold;
}
#dateoflaunch2{
    font-weight: bold;
}
#category2{
    font-weight: bold;
}